doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/styles/navbar-footer-style.css')
    link(rel='stylesheet' href='/styles/home-products-style.css')
    title Home | Stellar

  body
    .page-wrapper
      // NAVBAR
      include partials/navbar

      main
        // HERO SECTION
        section.hero
          h1 Shop Stellar Products
          p Discover stars, planets, and more.

        // SOLAR SYSTEM BANNER
        section.solar-banner
          img(src='/images/solar-system.webp' alt='Solar System Banner')

        // SOLAR SYSTEM COLLECTION TITLE
        h2.collection-title The Solar System Collection
        p.collection-subtitle Own celestial bodies from our very own star system!

        // PRODUCTS GRID
        section.products-grid
          each product in products
            .product-card
              a(href=`/products/${product.id}`)
                img(src=`/images/${product.image_link}`, alt=product.name)
                p= product.name
                p $#{product.price}

      // FOOTER
      include partials/footer