doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/styles/navbar-footer-style.css')
    link(rel='stylesheet' href='/styles/home-products-cart-style.css')
    link(rel="icon", href="/images/logo.png", type="image/png")
    title #{product.name} | Stellar

  body
    .page-wrapper
      include partials/navbar

      main
        section.product-container
          .product-image
            img(src=`/images/${product.image_link}`, alt=product.name)
          .product-details
            h1= product.name
            p.description= product.description
            p.price $#{product.price}

            .button-group
              button#add-to-cart.add-to-cart(data-product-id=product.id) Add to Cart
              a.checkout-btn(href='/cart') Checkout
              a.continue-shopping(href='/') Continue Shopping

      include partials/footer

    script(src='/scripts/search.js')
    script(src='/scripts/products.js')