doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/styles/navbar-footer-style.css')
    link(rel='stylesheet' href='/styles/home-products-cart-style.css')
    title= `${product.name} | Stellar`

  body
    .page-wrapper
      // NAVBAR
      include partials/navbar

      main
        .product-container
          a.continue-shopping(href='/') Continue Shopping
          .product-image
            img(src=`/images/${product.image_link}`, alt=product.name)
          h1= product.name
          p.description= product.description
          p.price $#{product.price}
          button.add-to-cart Add to Cart

      // FOOTER
      include partials/footer
    
    // ADD-TO-CART SCRIPT
    script.
      const button = document.querySelector('.add-to-cart');
      if (button) {
        button.addEventListener('click', () => {
          fetch('/cart/add', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ productId: !{product.id} })
          })
          .then(res => {
            if (res.ok) {
              alert('Product added to cart!');
            } else {
              alert('Failed to add product.');
            }
          });
        });
      }